{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-warning">

<h3>Edit Sale</h3>

</div>

<div class="card-body">

<form method="POST">

{% csrf_token %}

{{ form.as_p }}

<hr>

<h4>Products</h4>

{{ formset.management_form }}

<table class="table table-bordered">

<thead>

<tr>

<th>Product</th>
<th>Quantity</th>
<th>Selling Price</th>
<th>Delete</th>

</tr>

</thead>

<tbody>

{% for item in formset %}

<tr>

<td>{{ item.product }}</td>

<td>{{ item.quantity }}</td>

<td>{{ item.selling_price }}</td>

<td>{{ item.DELETE }}</td>

</tr>

{% endfor %}

</tbody>

</table>

<button class="btn btn-success">

Update Sale

</button>

<a href="{% url 'sale_list' %}"
class="btn btn-secondary">

Cancel

</a>

</form>

</div>

</div>

</div>

{% endblock %}